In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [82]:
def type_extraction(price):
    if '$' in price:
        return "DOLLAR"
    elif 'â‚¬' in price:
        return "EURO"
    else:
        return price.str.replace(',', '.')

In [83]:
df = pd.read_json("datas/task1_cleaned.json")
df.head()

,id,title,author,genre,publisher,year,price
0,10292064894005717421,"Look Homeward, Angel",Prof. Teressa Kautzer,Humor,Brill Publishers,2010,$87.25
1,13029911509625386835,The Yellow Meads of Asphodel,Domingo Weimann,Reference book,Sams Publishing,2018,$31.99
2,12880574241579659568,A Catskill Eagle,Dayle Orn,Comic/Graphic Novel,Apress,2011,â‚¬5.99
3,13301315742612799364,Der Richter und sein Henker,Elias von Kolb,Tall tale,Centaurus Verlag,1995,$75.00
4,16372759776603821045,After Many a Summer Dies the Swan,Carter Legros,Metafiction,University of Minnesota Press,2004,$52.0

In [84]:
df['type'] = df.price.apply(type_extraction)

In [85]:
df.head()

,id,title,author,genre,publisher,year,price,type
0,10292064894005717421,"Look Homeward, Angel",Prof. Teressa Kautzer,Humor,Brill Publishers,2010,$87.25,DOLLAR
1,13029911509625386835,The Yellow Meads of Asphodel,Domingo Weimann,Reference book,Sams Publishing,2018,$31.99,DOLLAR
2,12880574241579659568,A Catskill Eagle,Dayle Orn,Comic/Graphic Novel,Apress,2011,â‚¬5.99,EURO
3,13301315742612799364,Der Richter und sein Henker,Elias von Kolb,Tall tale,Centaurus Verlag,1995,$75.00,DOLLAR
4,16372759776603821045,After Many a Summer Dies the Swan,Carter Legros,Metafiction,University of Minnesota Press,2004,$52.0,DOLLAR

In [86]:
df.price = df.price.str.replace('â‚¬', '').str.replace('$', '').str.replace(',', '')

In [87]:
df.price = df.price.astype(float)

In [88]:
df.price.min()

np.float64(4.0)

In [89]:
df.loc[df['type'] == 'EURO', 'price'] = df.loc[df['type'] == 'EURO', 'price'] * 1.2

In [90]:
df.drop(columns=['type'], inplace=True)

In [91]:
df.head()

,id,title,author,genre,publisher,year,price
0,10292064894005717421,"Look Homeward, Angel",Prof. Teressa Kautzer,Humor,Brill Publishers,2010,87.250
1,13029911509625386835,The Yellow Meads of Asphodel,Domingo Weimann,Reference book,Sams Publishing,2018,31.990
2,12880574241579659568,A Catskill Eagle,Dayle Orn,Comic/Graphic Novel,Apress,2011,7.188
3,13301315742612799364,Der Richter und sein Henker,Elias von Kolb,Tall tale,Centaurus Verlag,1995,75.000
4,16372759776603821045,After Many a Summer Dies the Swan,Carter Legros,Metafiction,University of Minnesota Press,2004,52.000