In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
def type_extraction(price):
    if '$' in price:
        return "DOLLAR"
    elif 'â‚¬' in price:
        return "EURO"
    else:
        return price.str.replace(',', '.')

In [24]:
df = pd.read_json("datas/task1_cleaned.json")
df.head()

,id,title,author,genre,publisher,year,price
0,10292064894005717421,"Look Homeward, Angel",Prof. Teressa Kautzer,Humor,Brill Publishers,2010,$87.25
1,13029911509625386835,The Yellow Meads of Asphodel,Domingo Weimann,Reference book,Sams Publishing,2018,$31.99
2,12880574241579659568,A Catskill Eagle,Dayle Orn,Comic/Graphic Novel,Apress,2011,â‚¬5.99
3,13301315742612799364,Der Richter und sein Henker,Elias von Kolb,Tall tale,Centaurus Verlag,1995,$75.00
4,16372759776603821045,After Many a Summer Dies the Swan,Carter Legros,Metafiction,University of Minnesota Press,2004,$52.0

In [25]:
df['type'] = df.price.apply(type_extraction)

In [26]:
df.head()

,id,title,author,genre,publisher,year,price,type
0,10292064894005717421,"Look Homeward, Angel",Prof. Teressa Kautzer,Humor,Brill Publishers,2010,$87.25,DOLLAR
1,13029911509625386835,The Yellow Meads of Asphodel,Domingo Weimann,Reference book,Sams Publishing,2018,$31.99,DOLLAR
2,12880574241579659568,A Catskill Eagle,Dayle Orn,Comic/Graphic Novel,Apress,2011,â‚¬5.99,EURO
3,13301315742612799364,Der Richter und sein Henker,Elias von Kolb,Tall tale,Centaurus Verlag,1995,$75.00,DOLLAR
4,16372759776603821045,After Many a Summer Dies the Swan,Carter Legros,Metafiction,University of Minnesota Press,2004,$52.0,DOLLAR

In [27]:
df.price = df.price.str.replace('â‚¬', '').str.replace('$', '').str.replace(',', '')

In [28]:
df.price = df.price.astype(float)

In [29]:
df.price.min()

np.float64(4.0)

In [30]:
df.loc[df['type'] == 'EURO', 'price'] = df.loc[df['type'] == 'EURO', 'price'] * 1.2

In [31]:
df.drop(columns=['type'], inplace=True)

In [32]:
df.head()

,id,title,author,genre,publisher,year,price
0,10292064894005717421,"Look Homeward, Angel",Prof. Teressa Kautzer,Humor,Brill Publishers,2010,87.250
1,13029911509625386835,The Yellow Meads of Asphodel,Domingo Weimann,Reference book,Sams Publishing,2018,31.990
2,12880574241579659568,A Catskill Eagle,Dayle Orn,Comic/Graphic Novel,Apress,2011,7.188
3,13301315742612799364,Der Richter und sein Henker,Elias von Kolb,Tall tale,Centaurus Verlag,1995,75.000
4,16372759776603821045,After Many a Summer Dies the Swan,Carter Legros,Metafiction,University of Minnesota Press,2004,52.000

In [33]:
df.price

0       87.250
1       31.990
2        7.188
3       75.000
4       52.000
         ...
4998    72.500
4999    56.000
5000    80.388
5001    29.000
5002    97.500
Name: price, Length: 5003, dtype: float64

In [34]:
df.columns

Index(['id', 'title', 'author', 'genre', 'publisher', 'year', 'price'], dtype='object')

In [35]:
summary_table = df.groupby('year').agg(
    book_count=('id', 'count'),
    average_price=('price', 'mean')
).reset_index()
summary_table = summary_table.rename(columns={'year': 'publication_year'})
summary_table = summary_table.sort_values('publication_year').reset_index(drop=type)
print(summary_table)

    publication_year  book_count  average_price
0               1871          43      48.076000
1               1883          56      52.514750
2               1886          54      54.731037
3               1904          37      54.738378
4               1905          59      50.622136
5               1938          42      46.764190
6               1955          49      54.830408
7               1958          32      44.174375
8               1986         104      45.625519
9               1987         120      50.444083
10              1988         153      49.912458
11              1989         103      50.387243
12              1990         122      52.123902
13              1991          94      50.012447
14              1992         101      50.460040
15              1993         114      51.804789
16              1994         131      50.549725
17              1995         112      44.932911
18              1996         111      54.118198
19              1997         111      49.935550
20              1998         110      51.527364
21              1999         108      52.172889
22              2000         107      45.639551
23              2001         117      48.676171
24              2002         101      49.884396
25              2003         103      53.530214
26              2004         174      51.728540
27              2005         116      51.344086
28              2006         128      54.887359
29              2007         113      47.032106
30              2008          92      50.235978
31              2009          99      51.010465
32              2010         101      52.183307
33              2011         122      51.343361
34              2012         120      53.643600
35              2013         114      52.122667
36              2014         100      53.305360
37              2015         107      52.770617
38              2016         127      48.658315
39              2017         119      52.907513
40              2018         113      52.277735
41              2019         104      53.681654
42              2020         107      51.878374
43              2021         124      54.098694
44              2022         103      48.426214
45              2023          94      49.119617
46              2024         108      53.805815
47              2025         108      51.736963
48              2026         116      50.134052